<div class="flex flex-col divide-y h-full overflow-y-auto -mx-4">

    <div class="flex flex-col space-y-2 px-4 py-2">
      @for (item of activeUsers; track $index) {
        <div class="flex items-center space-x-3 cursor-pointer" (click)="onUserSelect(item.username)">
          <!-- Profile picture or first letter of username -->

          <div class="relative">
            <div class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-white font-bold">{{ item.username.charAt(0) | titlecase }}

              @if(item.online){
                <span class="bottom-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
              }
            </div>
          </div>
    
          <div class="flex flex-col flex-grow">
            <div class="flex items-center space-x-2">
              <div class="text-sm font-medium text-gray-900">{{ item.username }}</div>
            </div>
            <div class="text-xs text-gray-500 truncate w-40">Good afternoon! How can I help you?</div>
          </div>
        </div>
      }
      @empty {
        <!-- No active user message -->
        <div class="text-sm font-medium text-gray-500">No Active Users</div>
      }
    </div>
    

 
</div>

  

    
